h1,h2{
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
}

.horaire{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(11, 50px);
    min-width:420px;;
}
div{
    border: black solid 1px;
    text-align: center;
    
}
/* Jour de la semaine 
a=Lundi
b=Mardi
C=Mercredi
D=Jeudi
E=Vendredi
*/
.a{
    grid-area: 1/2/1/2;
}
.b {
    grid-area: 1/3/1/3;
}
.c {
    grid-area: 1/4/1/4;
}
.d {
    grid-area: 1/5/1/5;
}
.e {
    grid-area: 1/6/1/6;
}
/* Heures 
    heuresB > 9h10
    heuresC > 10h10
    heuresD > 11h10
    heuresE > 12h10
    heuresF > 13h10
    heuresG > 14h10
    heuresH > 15h10
    heuresI > 16h10
    heuresJ > 17h10
    heuresK > 18h10
*/
.heuresA{
    grid-area: 2/1/2/1;
}
.heuresB{
    grid-area: 3/1/3/1;
}
.heuresC{
    grid-area: 4/1/4/1;
}
.heuresD{
    grid-area: 5/1/5/1;
}
.heuresE{
    grid-area: 6/1/6/1;
}
.heuresF{
    grid-area: 7/1/7/1;
}
.heuresG{
    grid-area: 8/1/8/1;
}
.heuresH{
    grid-area: 9/1/9/1;
}
.heuresI{
    grid-area: 10/1/10/1;
}
.heuresJ{
    grid-area: 11/1/11/1;
}
.heuresK{
    grid-area: 12/1/12/1;
}
/*Cours */


//Lundi
.veilleL{
    background-color: rgb(247, 146, 6);
    grid-area: 6/2/2/2;
}

//MArdi
.projetPorfolio{
    background-color: rgb(43, 150, 135);
    grid-area: 8/3/12/3;
}

//Mercredi
.videoM{
    background-color: rgb(24, 101, 121);
    grid-area: 2/4/5/4; 
    color:white;
}
.stage{
    background-color: rgb(148, 178, 185);
    grid-area:5/5/5/4; 
}
.projetVeille{
    background-color: rgb(43, 111, 150);
    grid-area: 7/4/12/4;
    
}


//Vendredi
.videoV{
    background-color: rgb(24, 101, 121);
    color:white;
    grid-area:2/6/5/6
}
.veilleV{
    background-color: rgb(247, 146, 6);
    grid-area: 6/6/10/10
}

@media screen and (max-width:700px) {
    .horaire{
        font-size: 0.8em;;
    }
}